# Node modules and dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SQL file
init.sql

# Logs
logs
*.log
*.log.*

# Environment variables
.env

# Docker-related files
docker-compose.override.yml

# MacOS system files
.DS_Store

# Coverage reports
coverage/
.nyc_output/

# Build artifacts 
dist/
build/

# Temporary files and folders
tmp/
temp/
*.swp

# IDE-specific files
.vscode/
.idea/

# MySQL data volume
mysql-data/
